
stats
=======
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/

/docker-compose.yml
docker-compose.yml

/public/images
public/images

/private_html
private_html

/supervisord.pid
supervisord.pid

/supervisord.log
supervisord.log
